:root {
  --color_bg: #343541;
  --color_text: #ececec;
  --color_header_text: #ffffff;
  --color_card: #39a900;
  --color_text_card: #ffffff;
  --color_card_bot: #ececec;
  --color_text_card_bot: #343541;
  --color_button: #39a900;
  --color_text_button: #ffffff;
  --color_button_hover: #ff6a00;
  --color_progress_bg: #ececec;
  --color_progress_bar: #39a900;
  --color_progress_text: #ffffff;
  --color_preview_bg: #ffffff;
  --color_preview_text: #343541;
}

body {
  background-color: var(--color_bg);
  color: var(--color_text);
  font-family: system-ui, sans-serif;
  height: 100vh;
  margin: 0;
  display: flex;
  flex-direction: column;
  align-items: center;
}

#chat-container {
  width: 90%;
  max-width: 800px;
  display: flex;
  flex-direction: column;
  gap: 1rem;
  flex: 1;
}

#download-section {
  display: flex;
  flex-direction: column;
  gap: 1rem;
  flex: 1;
}

header {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 0.5rem;
  margin: 1rem 0;
  color: var(--color_header_text);
}

header img {
  height: 80px;
}

header h1 {
  margin: 0;
}

#messages {
  flex: 1;
  overflow-y: auto;
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.message {
  padding: 10px 15px;
  border-radius: 20px;
  margin: 0.5rem 0;
  max-width: 80%;
  white-space: pre-wrap;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  display: flex;
  align-items: center;
  gap: 0.5rem;
}

.message.user::before,
.message.bot::before {
  font-size: 1.2rem;
}

.message.user::before {
  content: "🔊";
}

.user {
  align-self: flex-end;
  background: var(--color_card);
  color: var(--color_text_card);
}

.bot {
  align-self: flex-start;
  background: var(--color_card_bot);
  color: var(--color_text_card_bot);
}

form {
  display: flex;
  gap: 0.5rem;
  justify-content: center;
  position: sticky;
  bottom: 0;
  background: var(--color_bg);
  padding: 0.5rem 0;
}

button, .upload-label {
  background: var(--color_button);
  border: none;
  color: var(--color_text_button);
  padding: 0.5rem 1rem;
  border-radius: 4px;
  cursor: pointer;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  text-align: center;
  display: inline-block;
}

button:hover, .upload-label:hover {
  background: var(--color_button_hover);
  color: var(--color_text_button);
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
}

#file-name {
  margin-left: 0.5rem;
  font-style: italic;
  color: var(--color_header_text);
}

#progress {
  width: 100%;
  height: 20px;
  background: var(--color_progress_bg);
  display: none;
}

#progress-bar {
  height: 100%;
  width: 0%;
  background: var(--color_progress_bar);
  color: var(--color_progress_text);
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 0.8rem;
}

#preview-container {
  height: 60vh;
  width: 100%;
  overflow-y: auto;
  overflow-x: auto;
  background: var(--color_preview_bg);
  color: var(--color_preview_text);
  padding: 1rem;
}